name: test

on: push

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: .node-version
          cache: yarn
      - name: yarn install
        run: yarn install --frozen-lockfile --prefer-offline
      - name: Run eslint
        run: yarn lint
